pypom
allure-pytest==2.5.2
allure-python-commons==2.5.2
atomicwrites==1.2.1
attrs==18.2.0
backports.functools-lru-cache==1.5
certifi==2018.8.24
chardet==3.0.4
colorama==0.3.9
configparser==3.5.0
crayons==0.1.2
flaky==3.4.0
future==0.16.0
idna==2.7
more-itertools==4.3.0
numpy==1.15.2
opencv-contrib-python==3.4.3.18
Pillow==8.1.1
pipenv==2018.7.1
pluggy==0.7.1
psutil==5.4.7
py==1.6.0
pymongo==3.7.1
pyocr==0.5.3
PyPOM==2.1.0
pytest==3.8.0
pytest-repeat==0.7.0
PyYAML==3.13
requests==2.19.1
selene==1.0.0a13
selenium==2.53.1
six==1.11.0
urllib3==1.23
virtualenv==16.0.0
virtualenv-clone==0.3.0
webdriver-manager==1.7
zope.component==4.5
zope.deferredimport==4.3
zope.deprecation==4.3.0
zope.event==4.4
zope.hookable==4.2.0
zope.interface==4.5.0
zope.proxy==4.3.1
